.aboutContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 40% 52%;
  row-gap: 8%;
  width: 80%;
  margin: auto;
  
}
  
.aboutRow {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 40% 55%;
  column-gap: 5%;
}

.aboutRow2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50% 45%;
  row-gap: 5%;
}

.aboutBowling {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slideDiv{
  position: relative;
}

.slideDiv > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  transition-delay: 200ms;
}

.active{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

#aboutPool {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:900px) {
  .aboutContainer {
    row-gap: 5%;
  }

  .aboutRow {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    row-gap: 3%;
  }

  .aboutRow2 {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    row-gap: 5%;
  }

  #poolImageContainer {
    grid-column: 1;
    grid-row: 2;
  }

}

@media screen and (max-width: 740px) {
  .aboutRow {
    row-gap: 5%;
  }
}

@media screen and (max-width:600px) {
  .aboutContainer {
    width: 90%;
  }

  .aboutRow {
    width:  100%;
    
  }
}