.menu{
  margin-top: 60px;
  margin-bottom: 100px;
}

.foodRow{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}

#foodItemsBurger {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: #f2d8d8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.34);
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}
#foodItemsPizza {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: #f2d8d8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.34);
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.foodItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 30px;

}

.menuImg {
  width: 80%;
  border-radius: 8px;
}

.foodItem p {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 700px){
  .foodItem p {
    font-size: 18px;
  }
}
