.menu{
  margin-top: 60px;
}

.foodRow{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}

#foodItemsBurger {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: #f2d8d8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.34);
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  overflow-x: scroll;
  column-gap: 30px;
  padding: 30px 30px 0px 30px;
}

#foodItemsPizza {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: #f2d8d8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.34);
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  overflow-x: scroll;
  column-gap: 30px;
  padding: 30px 30px 0px 30px;
}

.foodItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  user-select: none;
}

.menuImg {
  width: 220px;
  border-radius: 8px;
}

.foodItem p {
  font-size: 20px;
  font-weight: 500;
}

