#merchContainer {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;  
}

.merchOption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 320px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.436);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

.merchOption:hover {
    scale: 1.05;
}

.merchOption a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.merchOption img {
    width: 60%;
    object-fit: contain;
    height: auto;
}

.merchTitle {
    width: 90%;
    height: 20%;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 900px){
    #merchContainer {
        grid-template-columns: 40% 40%;
    }
    .merchOption {
        height: 250px;
    }
}


@media screen and (max-width: 650px){
    #merchContainer {
        width: 100%;
    }

    .merchOption {
        height: 200px;
    }

    .merchTitle {
        width: 15ch;
        font-size: 15px;
    }
}