#form{
    display: grid; 
    padding: 20px;
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F2D8D8;
    height: auto;
    margin: auto;
    gap: 10px;
    border-radius: 15px;
}

#form *{
    font-size: 24px;
}
#form > div{
    display: grid;
    border-radius: 3px;
}
.twoCol{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.threeCol{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
#nameDiv > label{
    grid-column: span 2;
}
select{
    -webkit-appearance: menulist-button;   
}
div label{
    margin-bottom: 10px;
}

#form > div input{
    padding-left: 5px;
    max-height: 40px;
    min-height: 40px;
    border-radius: 3px;
}
#form > div > div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
@media only screen and (max-width: 890px) {
    #form *{
        font-size: 20px;
    }
    #form > div input{
        max-height: 36px;
        min-height: 36px;
    }
  }
@media only screen and (max-width: 780px) {
    #form *{
        font-size: 16px;
    }
    #form > div input{
        max-height: 32x;
        min-height: 32px;
    }
  }
  @media only screen and (max-width: 630px) {
    #form *{
        font-size: 12px;
    }
    #form > div input{
        max-height: 26px;
        min-height: 26px;
    }
  }
#submitBtn{
    margin: auto;
    width: 150px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.2s;
}
#submitBtn:hover{
    background-color: lightgray;
    cursor: pointer;
}
#requirements{
    resize: none;
    padding: 5px;
}
.validateInp.error{
    outline: red 3px solid;
    border: none;
}
.validateInp.valid{
    outline: green 3px solid;
    border: none;
}
#form.success{
    visibility: hidden;
}
#successMsg{
    margin: auto;
    text-transform: uppercase;
    width: 50%;
}