body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  overflow-x: hidden;
}

#intro {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
#intro h1 {
    font-size: 54px;
    margin: 0;
    margin-top: 40px;
  }
  
#intro p {
    font-size: 20px;
  }

@media screen and (max-width: 800px){
  #intro {
    width: 80%;
    margin-bottom: 50px;
  }

  #intro p {
    font-size: 15px;
  }
}


h2 {
    font-size: 30px;
    margin: 0;
  }
  
p {
    font-size: 18px;
  }

#topNav {
  display: flex;
  flex-direction: column;

  background-color: rgba(221, 62, 62, 1);
  background-image: url('../images/navbar-background.jpg');
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;

  height: fit-content;
  width: 100%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

#navTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  margin-top: 10px; 
}

#home {
  height: fit-content;
  width: fit-content;
  transition: 0.3s; 
}

#home:hover {
  scale: 1.05;
}

#logo {
  width: 140px;
  height: auto;
}

#navBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  height: 40px;
  width: 100%;
  padding: 10px 0px;  
}

#bottomNav {
  background-color: rgba(221, 62, 62, 0.95);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navlink {
  width: 120px;
  text-align: center;
  font-variant: small-caps;
  font-size: 24px;
    
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 10px;
}

.navlink:hover {
  scale: 1.15;
  text-shadow: 0px 2px 20px rgb(255, 255, 255);
}

@media screen and (max-width:1200px) {
  .navlink {
    font-size: 20px;
    width: 100px;
  }
}

@media screen and (max-width:1000px) {
  .navlink {
    font-size: 20px;
    width: 80px;   
  }
}

@media screen and (max-width:800px) {
  #navBottom {
    flex-wrap: wrap;
    height: 70px;
  }

  .navlink {
    width: 100px;
    font-size: 18px;
  }
}

#footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 20% 20% 20% 20%;
  grid-auto-flow: column;
  margin-top: 100px;
    
  height: min-content;
  width: 100%;
  background-color: rgba(221, 62, 62, 1);
  background-image: url('../images/navbar-background.jpg');
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;

  color: rgba(255, 255, 255, 1);

}

#footerDiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

#footerLogo {
  height: 120px;
  width: 120px;
}

.footerDiv2-3 {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 20% 25% 25% 25%;
  height: 180px;
}

.footerDiv2-3 h3 {
  margin: 5, 0,0,0;
}


.footerDiv2-3 p {
  margin-top: 5;
    
}

#footerDiv4 h3 {
    width: 15ch;
}

@media screen and (max-width:980px) {
  .footerDiv2-3 h3{
    font-size: 15px;
  }

  .footerDiv2-3 p{
    font-size: 13px;
  }

  #footerDiv4 h3 {
    font-size: 15px;
    width: 10ch;
  }

}
  
@media screen and (max-width:790px) {
  .footerDiv2-3 h3{
    font-size: 13px;
  }

  .footerDiv2-3 p{
    font-size: 10px;
    margin-top: 15px;
  }

  #footerLogo {
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
}